In [203]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [204]:
# Importing Data.
df = pd.read_csv('raw_marketing_campaign_data_so.csv')
df

,CampaignID,Campaign_Name,Start_Date,End_Date,Channel,Impressions,Clicks,Spend,Conversions,Active,Clicks,CampeignTag
0,CMP-00001,Q4_Summer_CMP-00001,11/24/2023 00:00,12/13/2023,TikTok,16795,197,$102.82,20.0,Y,NaN,TI
1,CMP-00002,Q1_Launch_CMP-00002,5/6/2023 00:00,5/12/2023,Facebook,1860,30,24.33,1.0,0,NaN,FA
2,CMP-00003,Q3_Winter_CMP-00003,12/13/2023 00:00,12/20/2023,Email,77820,843,1323.39,51.0,No,NaN,EM
3,CMP-00004,Q1_BlackFriday_CMP-00004,10/30/2023,11/3/2023,TikTok,55886,2019,2180.38,135.0,TRUE,NaN,TI
4,CMP-00005,Q2_Winter_CMP-00005,4/22/2023 00:00,4/23/2023,Facebook,7265,169,252.44,30.0,Yes,NaN,FA
...,...,...,...,...,...,...,...,...,...,...,...,...
2015,CMP-00400,Q3_Summer_CMP-00400,10/31/2023 00:00,11/13/2023,TikTok,30592,586,$503.95,77.0,1,NaN,TI
2016,CMP-01255,Q4_Summer_CMP-01255,9/1/2023 00:00,9/26/2023,Google Ads,20097,897,1641,162.0,0,NaN,GO
2017,CMP-01050,Q2_Launch_CMP-01050,2/9/2023 00:00,2/21/2023,Instagram,33254,1117,883.82,214.0,0,NaN,IN
2018,CMP-01118,Q4_Winter_CMP-01118,3/30/2023 00:00,4/27/2023,Facebook,68728,2960,4198.5,591.0,Yes,NaN,FA
2019,CMP-01554,Q4_Launch_CMP-01554,6/26/2023 00:00,7/9/2023,Email,96402,1090,1315.59,66.0,Y,NaN,EM

# Data Exploring

In [205]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2020 entries, 0 to 2019
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0    CampaignID    2020 non-null   object
 1   Campaign_Name  2020 non-null   object
 2   Start_Date     2020 non-null   object
 3   End_Date       2020 non-null   object
 4   Channel        1919 non-null   object
 5   Impressions    2020 non-null   int64
 6   Clicks         2020 non-null   int64
 7   Spend          2020 non-null   object
 8   Conversions    1820 non-null   float64
 9   Active         2020 non-null   object
 10  Clicks         40 non-null     float64
 11  CampeignTag    2020 non-null   object
dtypes: float64(2), int64(2), object(8)
memory usage: 189.5+ KB

In [206]:
df.head(10)

,CampaignID,Campaign_Name,Start_Date,End_Date,Channel,Impressions,Clicks,Spend,Conversions,Active,Clicks,CampeignTag
0,CMP-00001,Q4_Summer_CMP-00001,11/24/2023 00:00,12/13/2023,TikTok,16795,197,$102.82,20.0,Y,NaN,TI
1,CMP-00002,Q1_Launch_CMP-00002,5/6/2023 00:00,5/12/2023,Facebook,1860,30,24.33,1.0,0,NaN,FA
2,CMP-00003,Q3_Winter_CMP-00003,12/13/2023 00:00,12/20/2023,Email,77820,843,1323.39,51.0,No,NaN,EM
3,CMP-00004,Q1_BlackFriday_CMP-00004,10/30/2023,11/3/2023,TikTok,55886,2019,2180.38,135.0,TRUE,NaN,TI
4,CMP-00005,Q2_Winter_CMP-00005,4/22/2023 00:00,4/23/2023,Facebook,7265,169,252.44,30.0,Yes,NaN,FA
5,CMP-00006,Q4_BlackFriday_CMP-00006,10/15/2023 00:00,10/28/2023,Instagram,83386,2643,2697.03,NaN,1,NaN,IN
6,CMP-00007,Q3_Launch_CMP-00007,10/7/2023 00:00,10/23/2023,Facebook,38194,1135,1232.76,178.0,Yes,NaN,FA
7,CMP-00008,Q4_Launch_CMP-00008,5/23/2023,5/28/2023,Instagram,88498,1173,865.7,127.0,1,NaN,IN
8,CMP-00009,Q4_BlackFriday_CMP-00009,3/23/2023 00:00,4/1/2023,Google Ads,45131,1179,1046.18,104.0,1,NaN,GO
9,CMP-00010,Q2_Winter_CMP-00010,3/21/2023 00:00,4/1/2023,Email,61263,1153,1623.56,NaN,0,NaN,EM

In [207]:
df.columns.to_list() # Checking for irregularities in column name.

[' CampaignID ',
 'Campaign_Name',
 'Start_Date',
 'End_Date',
 'Channel',
 'Impressions',
 'Clicks ',
 'Spend',
 'Conversions',
 'Active',
 'Clicks',
 'CampeignTag']

In [208]:
# Checking for inconsistent categorical values.
print(f"Channel Values: {df['Channel'].unique()}\n")
print(f"Campaign_Tag Values: {df['CampeignTag'].unique()}\n")
print(f"Active Values: {df['Active'].unique()}")

Channel Values: ['TikTok' 'Facebook' 'Email' 'Instagram' 'Google Ads' 'E-mail' nan 'Gogle'
 'Tik_Tok' 'Facebok' 'Insta_gram']

Campaign_Tag Values: ['TI' 'FA' 'EM' 'IN' 'GO' 'E-' 'INVALID' 'XX']

Active Values: ['Y' '0' 'No' 'TRUE' 'Yes' '1' 'FALSE']

In [209]:
df.loc[df['CampeignTag'].isin(['E-', 'INVALID', 'XX'])]

,CampaignID,Campaign_Name,Start_Date,End_Date,Channel,Impressions,Clicks,Spend,Conversions,Active,Clicks,CampeignTag
15,CMP-00016,Q2_BlackFriday_CMP-00016,11/13/2023 00:00,11/23/2023,E-mail,60735,1617,1552.9,228.0,Y,NaN,E-
19,CMP-00020,Q1_Summer_CMP-00020,8/21/2023 00:00,8/30/2023,Email,6311,256,353.99,NaN,Yes,NaN,INVALID
43,CMP-00044,Q1_Winter_CMP-00044,5/15/2023 00:00,6/1/2023,E-mail,81038,2149,3729.91,116.0,1,81075.0,E-
49,CMP-00050,Q3_Summer_CMP-00050,2/27/2023 00:00,2/28/2023,Email,77552,2572,4321.12,258.0,TRUE,NaN,INVALID
53,CMP-00054,Q4_Winter_CMP-00054,9/30/2023 00:00,10/11/2023,NaN,49555,1114,$919.99,95.0,No,NaN,XX
...,...,...,...,...,...,...,...,...,...,...,...,...
1973,CMP-01974,Q3_Winter_CMP-01974,7/20/2023 00:00,8/8/2023,NaN,67435,3216,2147.97,302.0,TRUE,NaN,XX
1980,CMP-01981,Q3_Summer_CMP-01981,12/17/2023 00:00,12/22/2023,TikTok,57446,1434,2671.97,158.0,1,57539.0,INVALID
1984,CMP-01985,Q4_BlackFriday_CMP-01985,6/16/2023,7/12/2023,NaN,16313,769,450.52,68.0,No,NaN,XX
2007,CMP-01489,Q4_Summer_CMP-01489,5/29/2023 00:00,6/4/2023,NaN,7960,271,141.35,35.0,Y,NaN,XX
2008,CMP-01377,Q1_Winter_CMP-01377,12/21/2023 00:00,12/29/2023,E-mail,87143,2204,2649.14,391.0,Yes,NaN,E-

In [210]:
df.isna().sum() # Checking for total nulls per column.

 CampaignID         0
Campaign_Name       0
Start_Date          0
End_Date            0
Channel           101
Impressions         0
Clicks              0
Spend               0
Conversions       200
Active              0
Clicks           1980
CampeignTag         0
dtype: int64

In [211]:
df.loc[df['Spend'].str.contains('\$'), ['Spend']] # Remove '$' ',' and trailing space

           Spend
0       $102.82
21    $2,428.40
22    $4,726.22
31    $2,759.35
32    $2,393.02
...          ...
1992    $755.86
2002  $2,640.72
2011  $2,422.76
2013  $2,135.23
2015    $503.95

[298 rows x 1 columns]

# To Do

- Renaming the column names. ✅
- Cleaning and formatting 'Spend' column. ✅
- Correct categorical typos. ✅
- Clean mixed booleans in 'Active' column. ✅
- Change Data types. ✅
- Check data integrity:  'Start_Date' vs 'End_Date' ✅
- Handle Ouliers in 'Spend' column.✅
- Feature Engineer: 'Season' from 'Campaign_Name'.✅

In [212]:
# =====================================
#       Correcting Column Names
# =====================================

print(f'Before: {df.columns.to_list()}\n')

df.columns = df.columns.str.strip().str.lower()

df = df.rename(columns={'campaignid':'campaign_id',
                        'campeigntag':'campaign_tag'})

print(f'After: {df.columns.to_list()}')

Before: [' CampaignID ', 'Campaign_Name', 'Start_Date', 'End_Date', 'Channel', 'Impressions', 'Clicks ', 'Spend', 'Conversions', 'Active', 'Clicks', 'CampeignTag']

After: ['campaign_id', 'campaign_name', 'start_date', 'end_date', 'channel', 'impressions', 'clicks', 'spend', 'conversions', 'active', 'clicks', 'campaign_tag']

In [213]:
# =====================================
#       Cleaning 'Spend' Column
# =====================================

dollar_mask = df['spend'].str.contains('\$')
print(f"Before:\n{df.loc[dollar_mask, ['spend']].head(3)}")

df['spend'] = df['spend'].str.replace(r'[-$, ]', '', regex=True)

print(f"After:\n{df.loc[dollar_mask, ['spend']].head(3)}")

Before:
         spend
0     $102.82
21  $2,428.40
22  $4,726.22
After:
      spend
0    102.82
21  2428.40
22  4726.22

In [214]:
# =====================================
#     Correcting Categorical Typos 
# =====================================

print('Before:\n')
print(f"channel: {df['channel'].unique()}")
print(f"campaign_tag: {df['campaign_tag'].unique()}")

df['channel'] = df['channel'].replace({ 'Tik_Tok'   : 'TikTok',
                                        'Facebok'   : 'Facebook',
                                        'E-mail'    : 'Email',
                                        'Insta_gram': 'Instagram',
                                        'Gogle'     : 'Google Ads',
                                        np.nan      : 'Unknown' })

# Creating a map for 'campaign_tag' column according to 'channel' column.
tag_map = { 'TikTok'    : 'TI',
            'Facebook'  : 'FA',
            'Email'     : 'EM',
            'Instagram' : 'IN',
            'Google Ads': 'GO',
            'Unknown'   : 'Unknown' }

# First, replacing values and adding NaN values inplace of 'INVALID'.
df['campaign_tag'] = df['campaign_tag'].replace({ 'E-'    : 'EM',
                                                   'INVALID': np.nan, 
                                                   'XX'     : 'Unknown' })

# Second, using the map to fill tags where 'campaign_tag' was 'INVALID'.
df['campaign_tag'] = df['campaign_tag'].fillna(df['channel'].map(tag_map))

print('\nAfter:\n')
print(f"channel: {df['channel'].unique()}")
print(f"campaign_tag: {df['campaign_tag'].unique()}")

Before:

channel: ['TikTok' 'Facebook' 'Email' 'Instagram' 'Google Ads' 'E-mail' nan 'Gogle'
 'Tik_Tok' 'Facebok' 'Insta_gram']
campaign_tag: ['TI' 'FA' 'EM' 'IN' 'GO' 'E-' 'INVALID' 'XX']

After:

channel: ['TikTok' 'Facebook' 'Email' 'Instagram' 'Google Ads' 'Unknown']
campaign_tag: ['TI' 'FA' 'EM' 'IN' 'GO' 'Unknown']

In [215]:
# =====================================
#       Correcting Mixed Booleans
# =====================================

print('Before:\n')
print(f"active: {df['active'].unique()}")

df['active'] = df['active'].replace({ 'Y'    : True,
                                      '1'    : True,
                                      'Yes'  : True,
                                      'TRUE' : True,
                                      'No'   : False,
                                      '0'    : False,
                                      'FALSE': False}).astype('bool')

print('\nAter:\n')
print(f"active: {df['active'].unique()}")

Before:

active: ['Y' '0' 'No' 'TRUE' 'Yes' '1' 'FALSE']

Ater:

active: [ True False]

C:\Users\hp\AppData\Local\Temp\ipykernel_27600\1836207100.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['active'] = df['active'].replace({ 'Y'    : True,

In [216]:
# =====================================
#          Changing Data Types
# =====================================
print('Before:\n')
df.info()

df = df.astype({ 'channel'     : 'category',
                 'campaign_tag': 'category' })  # To reduce memory usage.

def parse_date(x):                                                       # 1st method if you wanna parse each date format.
    for fmt in ("%m/%d/%Y %H:%M", "%m/%d/%Y", "%d/%m/%Y"):
        try:
            return pd.to_datetime(x, format=fmt)
        except:
            continue
    return pd.NaT

df['start_date'] = df['start_date'].apply(parse_date)

# df['start_date'] = pd.to_datetime(df['start_date'], errors='coerce')   # 2nd method if you want NaT.

df['end_date'] = pd.to_datetime(df['end_date'])

df['spend'] = pd.to_numeric(df['spend'], errors='coerce')

print('\nAfter:\n')
df.info()

Before:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2020 entries, 0 to 2019
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   campaign_id    2020 non-null   object
 1   campaign_name  2020 non-null   object
 2   start_date     2020 non-null   object
 3   end_date       2020 non-null   object
 4   channel        2020 non-null   object
 5   impressions    2020 non-null   int64
 6   clicks         2020 non-null   int64
 7   spend          2020 non-null   object
 8   conversions    1820 non-null   float64
 9   active         2020 non-null   bool
 10  clicks         40 non-null     float64
 11  campaign_tag   2020 non-null   object
dtypes: bool(1), float64(2), int64(2), object(7)
memory usage: 175.7+ KB

After:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2020 entries, 0 to 2019
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   campaign_id    2020 non-null   object
 1   campaign_name  2020 non-null   object
 2   start_date     2020 non-null   datetime64[ns]
 3   end_date       2020 non-null   datetime64[ns]
 4   channel        2020 non-null   category
 5   impressions    2020 non-null   int64
 6   clicks         2020 non-null   int64
 7   spend          2020 non-null   float64
 8   conversions    1820 non-null   float64
 9   active         2020 non-null   bool
 10  clicks         40 non-null     float64
 11  campaign_tag   2020 non-null   category
dtypes: bool(1), category(2), datetime64[ns](2), float64(3), int64(2), object(2)
memory usage: 148.5+ KB

In [217]:
# ============================================
#  data integrity: 'Start_Date' vs 'End_Date'
# ============================================

# Creating a condtion mask.
mask = df['end_date'] < df['start_date']

# We have some records where end_date is smaller than start_date. Which is not right.
print('Before:\n')
print(df.loc[mask, ['start_date','end_date']].head(3))

# Assuming that end_date for these campaigns ends at a 30 days interval.
df.loc[mask, 'end_date'] = df.loc[mask, 'end_date'] + pd.Timedelta(days=30)

print('\nAfter:\n')
print(df.loc[mask, ['start_date','end_date']].head(3))

Before:

   start_date   end_date
23 2023-05-06 2023-05-01
54 2023-09-01 2023-08-27
71 2023-02-01 2023-01-27

After:

   start_date   end_date
23 2023-05-06 2023-05-31
54 2023-09-01 2023-09-26
71 2023-02-01 2023-02-26

In [218]:
# =====================================
#   Handling Outliers (Winsorization)
# =====================================

Q1 = df['spend'].quantile(q=0.25)
Q3 = df['spend'].quantile(q=0.75)

IQR = Q3 - Q1

upper_limit = Q3 + (3 * IQR)

outlier_mask = df['spend'] > upper_limit
print(df.loc[outlier_mask, ['campaign_id','spend']].head(3))

# Now we can do two things:
#  - Impute upper_limit in place of outliers.
#  - Make 'is_outlier' column to tag these records.

# In this project I'm going with 'Imputation'.
df.loc[df['spend'] > upper_limit, 'spend'] = upper_limit

print('\nAfter:\n')
print(df.loc[outlier_mask, ['campaign_id','spend']].head(3))

# But this is how 'is_outlier' column can be made.
# df['is_outlier'] = df['spend'].apply(lambda x: True if x > upper_limit else False)

     campaign_id      spend
789    CMP-00790  500000.00
1443   CMP-01444    8921.51
1460   CMP-01461  500000.00

After:

     campaign_id      spend
789    CMP-00790  8576.8675
1443   CMP-01444  8576.8675
1460   CMP-01461  8576.8675

In [219]:
# =====================================
#        Extract Season Name
# =====================================
print(df['campaign_name'].head(3))
# I had help from copilot for the regex condition.
# df['season'] = df['campaign_name'].str.extract(r'Q\d_([^_]+)_')

# Other way to do.
df['season'] = df['campaign_name'].apply(lambda x: x.split('_')[1])

print('\nAfter\n')
print(df['season'].head(3))

0    Q4_Summer_CMP-00001
1    Q1_Launch_CMP-00002
2    Q3_Winter_CMP-00003
Name: campaign_name, dtype: object

After

0    Summer
1    Launch
2    Winter
Name: season, dtype: object